
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 100px auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
  }
  
  h1 {
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p {
    margin-top: 20px;
  }
  .form-group {
    margin-bottom: 15px; 
  }
  
  